<div class="articleslist">
    <h2>Articles List</h2>
    <div *ngIf="articles.length > 0; else noArticles">
      <div *ngFor="let article of articles" class="article">
        <h3>{{ article.title }}</h3>
        <p>{{ article.summary }}</p>
        <button (click)="viewArticle(article)">View Article</button>
      </div>
    </div>
    <ng-template #noArticles>
      <p>No articles available</p>
    </ng-template>
    <div class="pagination">
      <button (click)="previousPage()">Previous</button>
      <button (click)="nextPage()">Next</button>
    </div>
  </div>


 